/* General Styles */
.landingWrapper {
  font-family: "Inter", sans-serif;
  color: #333;
  height: 80vh; /* Full height for the hero section */
  overflow-y: scroll; /* Enable scrolling */
  scroll-snap-type: y mandatory; /* Enable scroll-snap behavior */
}

.landingWrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.landingWrapper {
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hero Section */
.landingHeader {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
  height: 80vh; /* Full height for the hero section */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-snap-align: start; /* Snap to start on scroll */
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2;
}

.siteName {
  white-space: nowrap; /* Ensure the site name stays on one line */
}

.subHeading {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.buttonGroup .ctaButton {
  margin-right: 15px;
  padding: 10px 20px;
  font-size: 1.1rem;
}

/* Feature Section */
.featureSection {
  height: 80vh; /* Full height for the feature section */
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start; /* Snap to start on scroll */
  padding: 60px 0;
}

.featureTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.featureDescription {
  font-size: 1rem;
  color: #555;
  text-align: center;
}

.featureCard {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featureCard:hover {
  transform: translateY(-5px);
}

.featureCardBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .heading {
    font-size: 2rem !important;
  }
  .siteName {
    font-size: 1.75rem !important;
  }
}