/* Default Light Mode */
body {
  background-color: white;
  color: black;
  background-image: url('../src/assets/wallpaper.webp');
  background-size: inherit;
  background-position: center;
  background-repeat:repeat;
  position: relative;
  z-index: 1;
}

/* Dark mode overlay */
.dark-mode-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
  backdrop-filter: brightness(0.8) contrast(1.2);
  pointer-events: none; /* Allows interaction with elements below */
  z-index: 1050;
}
.content-wrapper {
  margin-bottom: 90px; /* Adds space to prevent overlap without increasing footer size */
}

hr {
  color: #c7c7c7 !important;
}

/* Media queries for small screens */
@media (max-width: 600px) {
  *{
    font-size: 1rem !important;
  }

  .container {
    padding: .2rem !important;
    margin: 0 !important;
    width: 100% !important;
  }

  /* Jumbo H1 Styling */
  #root > div.content-wrapper.mt-4.container > div > div.text-center.p-4.mb-4.shadow-sm.Home_welcomeBanner__4Zly7.card > div > h1{
    font-weight: bold;
  }

  .card, .card-body {
    padding: 0.2rem !important;
  }
  
  /* Recent Posts Container Styling */
  #root > div.content-wrapper.mt-4.container > div > div:nth-child(4){
    padding: 0.2rem !important;
  }

  /* Notifcation Badge Styling */
  #root > nav > div > a.nav-link{
    margin-left: -50px !important;
  }
  
  /* Footer Styling */
  .footer, .footer .text-light {
    padding: .1rem !important;
    font-size: .75rem !important;
  }
  .footer .text-light {
    margin: 0 10px !important;
  }
}