/* Default Light Mode */
body {
  background-color: white;
  color: black;
  background-image: url('../src/assets/wallpaper.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.card {
  background-color: #ffffffe1 !important;
}

.dark-mode {
  background-color: #121212; /* Dark background */
  color: white; /* Light text */
}

.dark-mode .navbar, .dark-mode .card, .dark-mode .container, .dark-mode .alert {
  background-color: #1e1e1e;
  color: white;
}

.dark-mode .form-control {
  background-color: #333;
  color: white;
}

.dark-mode .btn {
  background-color: #444;
  color: white;
}

.dark-mode a {
  color: #bb86fc; /* Light purple links */
}
