/* Default Light Mode */
body {
  background-color: white;
  color: black;
  background-image: url('../src/assets/wallpaper.webp');
  background-size: stretch;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

/* Dark mode overlay */
.dark-mode-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
  backdrop-filter: brightness(0.8) contrast(1.2);
  pointer-events: none; /* Allows interaction with elements below */
  z-index: 1050;
}
